@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
  background-color: #f0f5ff;
  font-family: 'Jost',sans-serif;
  color: #fff;
}

.wrapper {
  width: 400px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

input[type="text"]{
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 274px;
  color: black;
}

input[type="text"]:focus {
  outline: none;
}

.but{
  display: flex;
  justify-content: center;
  align-items: center;
}

.but1{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn{
  margin-top: 0.75rem;
  background-color: #f0f5ff !important;
  color: black !important;
  padding: 0.5rem;
  width: 30%;
  border: none;
  border-radius: 20px;
}

.controls {
  width: 294px;
  margin: 15px auto;
}

#remove_fields {
  float: right;
}
.controls a i.fa-minus {
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #232c3d;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: #232c3d;
}

ul {
  text-align: left;
  font-size: 20px;
  color: #232c3d;
}